* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.box{
    width: 400px;
    height: 400px;
    background: yellow;

}

.heading {

  border-bottom: 1px solid black;
  margin: 10px;
}

.text {
text-align: center;

}

.text.hide  {
  display: none;
}